<header class="header-6">
  <div class="branding">
    CUSTOMER MANAGEMENT APP
  </div>
  <div class="header-nav" fxFlexAlign="center">
    <a routerLink="/costumers" class="active nav-link nav-text">Costumers</a>
    <a routerLink="/about" class="nav-link nav-text">About</a>
  </div>
</header>
