<div class="view">
  <div class="container">
    <header>
      <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
    </header>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-2">Created by:</div>
        <div class="col-md-10">
          <a href="http://fb.me/filcatalao" target="_blank">Filipe Catalão</a>
        </div>
      </div>
      <br />
      <br />
      <div class="row">
        <div class="col-md-2">Linkedin:</div>
        <div class="col-md-10">
          <a href="http://linkedin.com/in/filcatalao/" target="_blank"
            >linkedin.com/in/filcatalao/</a
          >
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-2">Mail:</div>
        <div class="col-md-10">
          <a href="mailto:filcatalao@gmail.com" target="_blank"
            >Interested? Contact for more.</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
